.partner {
    &__line {
        width: 100%;
        border: 0.5px solid #D9D9D9DD;
        margin: 90px 0;
    }

    &__desc {
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0%;
        text-align: center;
        color: #1C1C1CCC;
    }

    &__cards {
        box-shadow: 0px 4px 20px 5px #00000008;
        background: #FFFFFF;
        width: 100%;
        height: 80px;
        border-radius: 10px;
        margin: 30px 0 100px;
    }
}