.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    // background: #F8FBFE;
    position: relative;
    text-align: center;

    &__back1 {
        position: absolute;
        top: -100px;
        left: 0;
        height: 740px;
        width: 800px;
        background: url('../../../../assets/images/her1.png') no-repeat left;
        background-size: contain;
        z-index: 1;
    }

    &__back2 {
        position: absolute;
        bottom: -300px;
        right: 0;
        height: 800px;
        width: 900px;
        background: url('../../../../assets/images/hero2.png') no-repeat right;
        background-size: contain;
        z-index: 2;
    }

    &__container {
        position: relative;
        z-index: 3;
    }


    &__subtitle {
        font-weight: 500;
        font-size: 12px;
        line-height: 14.4px;
        letter-spacing: 35%;
        color: #1351D8;
    }

    &__title {
        padding: 25px 0 20px;
        font-weight: 500;
        font-size: 70px;
        line-height: 66px;
        // max-width: 910px;
        color: #212529;
    }

    &__desc {
        max-width: 460px;
        font-weight: 500;
        font-size: 18px;
        line-height: 28px;
        letter-spacing: 0%;
        color: #1C1C1CCC;
        margin: 0 auto;
    }

    &__btn {
        background: #1351D81A;
        color: #1351D8;
        border: none;
        padding: 12px 30px;
        border-radius: 25px;
        font-size: 13px;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        gap: 10px;
        margin: 32px 0;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #0056b3;
            color: white;
        }

        span {
            margin-right: 5px;
        }
    }


    // Responsiv Design
    @media (max-width: 768px) {
        min-height: 70vh;

        &__back1,
        &__back2 {
            display: none; // Kichik ekranlarda background rasmlarini yashirish
        }

        &__container {
            .hero__title {
                font-size: 2.5rem;
            }

            .hero__desc {
                font-size: 1rem;
            }

            .hero__btn {
                padding: 10px 25px;
                font-size: 1rem;
            }
        }
    }

    @media (max-width: 300px) {
        min-height: 60vh;
        padding: 30px 0;

        &__container {
            .hero__title {
                font-size: 2rem;
            }

            .hero__desc {
                font-size: 0.9rem;
            }

            .hero__btn {
                padding: 8px 20px;
                font-size: 0.9rem;
            }
        }
    }
}